.profile__name {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 2;

  font-style: normal;
  font-weight: 500;
  font-size: 42px;
  line-height: 56px;
  color: #fff;

  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;

  margin: 0;
}

@media screen and (max-width: 900px) {
  .profile__name {
    font-size: 27px;
    line-height: 56px;
    text-align: center;
  }
}
