.profile__status {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 3;

  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  color: #fff;

  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;

  margin: 0;
}


@media screen and (max-width: 900px) {
  .profile__status {
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    margin-top: 14px;
  }
}
