.form__set {
  display: flex;
  flex-direction: column;
  justify-content: start;

  /* width: 358px; */

  margin: 54px 36px 0;
  border: 0;
  padding: 0;
}

@media screen and (max-width: 767px) {
  .form__set{
  max-width: 238px;
  margin: 75px 22px 0;
  }
}
